*~
*__pycache__*
*_ext*
*.bag
*.csv
*.cu.o
*.DS_Store
*.gif
*.ipynb_checkpoints
*.pkl
*.png
*.pth
*.pyc
*.tfevents*
*.yml

.idea/
# .vscode/
*.egg-info/
build/
ckpt/
ckpts/
ckpts
data
dist/
devel/
exp_*/
experiments
logs
output/
results/
result_*/
wandb
